

.left-aligned-textarea .text {
    -fx-text-alignment: left;
}

.centered-textarea .text {
    -fx-text-alignment: center;
}
.right-aligned-textarea .text{
    -fx-text-alignment: right;
}
.strike-out-textarea .text{
    -fx-strikethrough: true;
}
.underline-textarea .text{
    -fx-underline: true;
}